<% content_for :title, "Sign up" %>

<h1>Sign up</h1>

<%= render 'form', user: @user, submit: 'Sign up' %>

<p>
  For details about sign-up, please <a href="https://help.game57.com/" class="help-link">see help</a>.
</p>
